.portfolio {

    &__menu {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 75%;
        height: 47px;
        margin: 0 auto;
        margin-top: 25px;
        padding: 0;

        border: 1px solid $blue;
        border-radius: 20px; 
    }

    &__menu-item {
        position: relative;

        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        padding: 0 30px;
        margin: 0 2px;
        height: 90%;
        
        text-align: center;
        font-size: 14px;
        font-weight: 300;
        text-transform: uppercase;
        color: $blue;
    }

    &__menu-item--2 { 
        &::before {
            content: '';
            position: absolute;
            left: -2px;
            top: 5px;

            display: block;
            width: 1px;
            height: 100%;
            background-color: $blue;
        }
    }

    &__menu-item--3 { 
        &::before {
            content: '';
            position: absolute;
            left: -2px;
            top: 0px;

            display: block;
            width: 1px;
            height: 100%;
            background-color: $blue;
        }
    }

    &__menu-item--4 { 
        &::before {
            content: '';
            position: absolute;
            left: -2px;
            top: 0px;

            display: block;
            width: 1px;
            height: 100%;
            background-color: $blue;
        }
    }

    &__menu-item--current{
        display: flex;
        align-items: center;
        height: 51px;

        color: #fff;

        background-color: $blue;
        border-radius: 8px;

        &::before {
            content: '';
            position: absolute;
            left: -3px;
            top: 5px;

            display: block;
            width: 1px;
            height: 79%;
            background-color: $blue;
        }
    }

    &__images {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        padding: 0;
        margin: 0;
        margin-top: 20px;
    }

    &__image {
        width: 32%;
        margin-bottom: 30px;
    }

    &__image img{
        width: 100%;
    }
}

@media(max-width: 850px) {
    
    .portfolio {

        &__menu {
            width: 100%;
        }

        &__image {
            width: 49%;
        }
    }
}

@media(max-width: 620px) {
    
    .portfolio {

        &__menu {
            height: 30px;
        }

        &__menu-item {
            padding: 0 5px;
            
            font-size: 9px;
        }

        &__menu-item--current{

            height: 34px;

            &::before {
                height: 75%;
            }
        }
    }
}

@media(max-width: 550px) {
    
    .portfolio {

        &__image {
            width: 100%;
        }
    }
}